DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
NEXT_PUBLIC_WHATSAPP_NUMBER=905XXXXXXXXX
NEXT_PUBLIC_PHONE=+90 5XX XXX XX XX
NEXT_PUBLIC_EMAIL=info@veraninpazari.com
NEXT_PUBLIC_INSTAGRAM=veraninpazari
NEXT_PUBLIC_LOCATION=İstanbul, Türkiye
